<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        MineSweeper
      </span>
    </div>

    <ul class="nav navbar-nav">
		<li> {{#link-to 'game'}} <span>Play</span> {{/link-to}} </li>

    </ul>

  </div>
</nav>

{{outlet}}